.site-header {
    text-align: center;
    margin: 10px;
}
.nav a {
    border: 1px solid black;
    padding: 5px 40px;
    border-radius: 5px;;
    margin: 20px;
    gap: 50px;
    text-decoration: none;
    color: #333;
}